.CodeMirror {
    background-image: url(https://img.digitimes.com/newsshow/20230726pd209_files/2_2b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}